.singleFeed{
   display: flex;   
   gap: 10px;
   margin: 23px 0px;
   align-items: center;
}
.feedText p{
    display: flex;
    /* justify-content: flex-start; */
    color: grey;
    font-size: 16px;
    margin-bottom: 8px;
    /* background: red; */
}
.feedText h5{
    margin-left: 20px;
    margin-bottom: 7px;
}

.feedImg{ 
     width: 60px;
     height: 60px;
     border-radius: 50%;
}

.feedText{
    display: flex;
    flex-direction: column;
}

.feedMain h2{
    font-size: 15px
}

.feedMain{
    /* width: 300px; */
    background-color: white;
    height: 500px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    position:  sticky;
    top: 10px;
}

.feedText .text{
    font-size: 14px;
    color: grey;
    font-weight: 200;
}

 @media screen and (max-width:1200px) {
    .feedMain{
      width: 100%;
      border-radius: 10px;
      position:  relative !important;
      top: 10px;
    }
  } 